# Code to easily generate ticker list from Excel tables or similar

In [1]:
import csv
import pandas as pd

In [14]:
#copy data with header to clipboard ctrl+C
bovespa = pd.read_clipboard()
print(bovespa)

   Ticker
0   ABEV3
1   CRFB3
2   AZUL4
3   BTOW3
4   B3SA3
..    ...
68  USIM5
69  VALE3
70  VVAR3
71  WEGE3
72  YDUQ3

[73 rows x 1 columns]

In [17]:
bovespa.to_csv('bovespa.csv')

In [15]:
bovespa = bovespa.convert_dtypes()

bovespa.head()

  Ticker
0  ABEV3
1  CRFB3
2  AZUL4
3  BTOW3
4  B3SA3

In [16]:
bovespa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  73 non-null     string
dtypes: string(1)
memory usage: 712.0 bytes